// Colours:
$strong_cyan: hsl(172, 67%, 45%); 
$dark_cyan: hsl(183, 100%, 15%); 
$dark_greyish_cyan_1: hsl(186, 14%, 43%); 
$dark_greyish_cyan_2: hsl(184, 14%, 56%); 
$light_greyish_cyan_1: hsl(185, 41%, 84%); 
$light_greyish_cyan_2: hsl(189, 41%, 97%); 
$white: hsl(0, 0%, 100%); 

// Font: 
$font-stack: 'Space Mono', sans-serif;

