@import 'config';

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    line-height: 1.6;
    background-color: $light_greyish_cyan_1;
    color: $dark_greyish_cyan_1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.7em;
}

input {
    -webkit-appearance: none;
    width: 100%;
    background-color: $light_greyish_cyan_2;
    border: $light_greyish_cyan_2 2px solid;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    color: $dark_greyish_cyan_2;
    font-family: $font-stack;

    &:focus {
        outline: none;
        border: $strong_cyan 2px solid;
        color: $dark_cyan;
        cursor: pointer;
    }

    &:valid {
        color: $dark_cyan;
    }
}

button {
    font-family: $font-stack;
}

.hidden {
    display: none;
    color: salmon;
}

.card {
    max-width: 95%;
    background-color: $white;
    margin-bottom: 2em;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.active {
    background-color: $strong_cyan !important;
    color: $dark_cyan !important;
} 

.section-1 {

    .container {
        margin-bottom: 1.5em;
    }

    .input {
        margin-bottom: 1.5em;
    }

    .input-value {
        background-repeat: no-repeat;
        background-position: 0.5em center;
        text-align: right;
        padding: 0 0.5em;
        margin-top: 0.25em;
    }

    .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        margin-top: 1em;
    }

    .option {
        background-color: $dark_cyan;
        border-radius: 4px;
        color: $white;
        font-size: 1.25em;
        padding: 0.25em 1em;
        text-align: center;
        font-weight: 700;
        border: none;
    } 
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dark_cyan;
    border-radius: 15px;
    padding: 1em;

    .output {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1em 0;

        h2 {
            color: $white;
        }

        h3 {
            color: $dark_greyish_cyan_2;
            grid-column: 1;
        }

        .sum {
            color: $strong_cyan;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            text-align: end;
            font-size: 1.5em;
        }
    }
}

#logo {
    margin: 2em 0;
}

#bill {
    background-image: url(../images/icon-dollar.svg);
}

#people {
    background-image: url(../images/icon-person.svg);
}

#people_label {
    display: flex; 
    justify-content: space-between;
}

#custom {
    text-align: center;
    font-size: 1.25em;
    padding: 0.25em 1em;
}

#reset {
    background-color: lighten($dark_cyan, 10%);
    color: $dark_cyan;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    margin: 1em 0 0 0;
    padding: 0.5em;
    border-radius: 4px;
}

@import 'desktop';