@import 'config';

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', sans-serif;
    line-height: 1.6;
    background-color: $light_greyish_cyan_1;
    color: $dark_greyish_cyan_1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.7em;
}

label {
    font-weight: 700;
}

input {
    -webkit-appearance: none;
    width: 100%;
    background-color: $light_greyish_cyan_2;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    color: $dark_greyish_cyan_2;
    font-family: 'Space Mono', sans-serif;
}

input:focus, input:hover {
    outline: none;
    border: $strong_cyan 2px solid;
    color: $dark_cyan;
    cursor: pointer;
} // input:hover should only be for desktop not mobile

input:valid {
    color: $dark_cyan;
}

#logo {
    margin: 2em 0;
}

.card {
    background-color: $white;
    margin-bottom: 2em;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.section-1 .container {
    margin-bottom: 1.5em;
}

.section-1 .input {
    margin-bottom: 1.5em;
}

.section-1 .input-value {
    background-repeat: no-repeat;
    background-position: 0.5em center;
    text-align: right;
    padding: 0 0.5em;
    margin-top: 0.25em;
}

#bill {
    background-image: url(../images/icon-dollar.svg);
}

#people {
    background-image: url(../images/icon-person.svg);
}

.section-1 .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 1em;
}

.section-1 .option {
    background-color: $dark_cyan;
    border-radius: 4px;
    color: $white;
    font-size: 1.25em;
    padding: 0.25em 1em;
    text-align: center;
    font-weight: 700;
    border: none;
    font-family: 'Space Mono', sans-serif;
}

.section-1 .active {
    background-color: $strong_cyan;
    color: $dark_cyan;
}

.section-1 .option:hover {
    background-color: lighten($strong_cyan, 35%);
    color: $dark_cyan;
    cursor: pointer;
}

.section-1 #custom {
    text-align: center;
    font-size: 1.25em;
    padding: 0.25em 1em;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dark_cyan;
    border-radius: 15px;
    padding: 1em;
}

.section-2 .output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 0;
}

.section-2 .output h2 {
    color: $white;
}

.section-2 .output h3 {
    color: $dark_greyish_cyan_2;
    grid-column: 1;
}

.section-2 .output .sum {
    color: $strong_cyan;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    text-align: end;
    font-size: 1.5em;
}

#reset {
    background-color: $strong_cyan;
    color: $dark_cyan;
    border: none;
    font-family: 'Space Mono', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    margin: 1em 0 0 0;
    padding: 0.5em;
    border-radius: 4px;
}

#reset:active, #reset:hover {
    background-color: lighten($strong_cyan, 35%);
    color: $dark_cyan;
    cursor: pointer;
}